<app-navbar></app-navbar>
<main class="container mx-auto bg-zinc-950 mt-5">
  <div class="min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md rounded-lg">
      <div
        class="bg-black p-3 border-gray-500 border-[1px] rounded-2xl shadow-lg"
      >
        <div class="text-white px-3 font-semibold text-lg font-inter">
          Forget Password
        </div>
        <div class="p-3">
          <form>
            <div class="mb-4">
              <label for="email" class="block text-gray-300 font-inter"
                >Email</label
              >
              <input
                [(ngModel)]="email"
                name="email"
                type="email"
                class="mt-1 block w-full px-3 py-2 border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-zinc-950"
                id="email"
                placeholder="Enter your email"
              />
            </div>
            <app-message
              *ngFor="let message of messages"
              [message]="message"
            ></app-message>
            <div class="flex items-center justify-between mt-4">
              <a
                [class.disabled]="loading"
                (click)="send_password_reset_link()"
                class="btn font-inter text-sm text-white py-2 px-4 rounded-md bg-blue-500 hover:bg-blue-600 flex items-center"
              >
                <span
                  [class.spinner-border-me-1]="loading"
                  class="spinner-border-sm"
                  aria-hidden="true"
                ></span>
                Send Password Reset Link
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
