<app-navbar></app-navbar>
<main class="flex items-center justify-center min-h-screen w-full bg-zinc-950">
  <div class="w-full flex justify-center">
    <div class="text-center max-w-2xl">
      <h1 class="text-white text-4xl font-bold font-inter">
        Welcome to ExampleApp
      </h1>
      <p class="text-white/70 text-lg font-inter mt-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fermentum
        arcu sed sodales commodo. Phasellus nec ante a eros congue.
      </p>
    </div>
  </div>
</main>
