<main class="container mx-auto mt-5 bg-neutral-950">
  <div class="min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md rounded-lg">
      <div
        class="bg-black p-3 border-gray-500 border-[1px] rounded-2xl shadow-lg"
      >
        <div class="text-white px-3 font-semibold text-lg font-inter">
          Forget Password
        </div>
        <div class="p-3">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="mb-3 col-sm-6 col-12">
                <label for="password" class="block text-gray-300 font-inter">
                  Password
                </label>
                <input
                  formControlName="password"
                  type="password"
                  class="mt-1 block w-full px-3 py-2 border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-neutral-950 text-gray-300"
                  placeholder="Enter your password"
                  [ngClass]="{
                    'is-invalid': submitted && f['password'].errors
                  }"
                />
                <div
                  *ngIf="submitted && f['password'].errors"
                  class="text-red-500 mt-1"
                >
                  <div *ngIf="f['password'].errors['required']">
                    Password is required
                  </div>
                  <div *ngIf="f['password'].errors['minlength']">
                    Password must be at least 6 characters
                  </div>
                  <div *ngIf="f['password'].errors['maxlength']">
                    Username must not exceed 40 characters
                  </div>
                </div>
              </div>
              <div class="mb-3 col-sm-6 col-12">
                <label for="re_password" class="block text-gray-300 font-inter">
                  Confirm Password
                </label>
                <input
                  formControlName="re_password"
                  type="password"
                  class="mt-1 block w-full px-3 py-2 border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-neutral-950 text-gray-300"
                  placeholder="Confirm your password"
                  [ngClass]="{
                    'is-invalid': submitted && f['re_password'].errors
                  }"
                />
                <div
                  *ngIf="submitted && f['re_password'].errors"
                  class="text-red-500 mt-1"
                >
                  <div *ngIf="f['re_password'].errors['required']">
                    Confirm Password is required
                  </div>
                  <div *ngIf="f['re_password'].errors['matching']">
                    Confirm Password does not match
                  </div>
                </div>
              </div>
            </div>

            <app-message
              *ngFor="let message of messages"
              [message]="message"
            ></app-message>

            <div class="d-flex flex-row mb-3">
              <button
                [class.disabled]="loading"
                type="submit"
                class="btn bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md font-inter"
              >
                <span
                  *ngIf="loading"
                  class="spinner-border me-1 spinner-border-sm"
                  aria-hidden="true"
                ></span>
                Change Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
