@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

markdown .line-numbers {
  @apply bg-neutral-800 rounded-xl; /* Dark background, light text, padding, etc. */
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
    border: 3px solid #f1f1f1; /* Space around the thumb */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change thumb color on hover */
  }
}
